### FTP соединение
FTP_SERVER      = ''
FTP_USER        = ''
FTP_PASSWORD    = ''

### С таким именем файл зальется на ФТП
RESULT_FILENAME             = 'candy_order_xml_test.xml'

### Название файла с ценами и количеством на фтп
WAREHOUSE_PRICE_LIST_FILE   = 'candy_pricing.xml'

### Через сколько времени (Unix) считать таблицу неактуальной и пересоздать данные для нее
### Примеры: 7200 - будет 2 часа (2*60*60). 3600 - 1 час (1*60*60)
REFRESH_CLAIMS_TABLE_TIME   = 7200

### Используется в функции strtotime. Максимальное количество дней для хранения 'shippment_claim'
MAX_OLD_DATE                = '-14 days'